astroid==3.0.2
cfgv==3.4.0
dill==0.3.7
distlib==0.3.8
filelock==3.13.1
identify==2.5.33
isort==5.13.2
mccabe==0.7.0
nodeenv==1.8.0
platformdirs==4.1.0
pre-commit==3.6.0
pylint==3.0.3
PyYAML==6.0.1
tomlkit==0.12.3
virtualenv==20.25.0
